<div class="min-h-screen flex items-center justify-center bg-blue-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-2xl w-1/2 mx-auto bg-white p-6 rounded-lg shadow-md space-y-8">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-blue-900">
      Log in
    </h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mt-8 space-y-6">
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <%= f.label :email, class: "sr-only" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email address", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" %>
          </div>

          <div>
            <%= f.label :password, class: "sr-only" %>
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="flex items-center">
              <%= f.check_box :remember_me, class: "h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded" %>
              <label for="remember_me" class="ml-2 block text-sm text-gray-900">Remember me</label>
            </div>
          <% end %>
        </div>

        <div class="flex justify-center mt-5">
          <%= f.submit "Log in", class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        </div>
      </div>
    <% end %>

    <div class="mt-6 text-center bg-yellow-400 text-yellow-800 hover:bg-yellow-500 hover:text-white py-2 px-4 rounded-md">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>
